body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100vh;
  background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  grid-template-rows: repeat(5, 65px);
  gap: 10px;
  width: 1200px;
}

.key {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  font-family: "Space Mono", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  background-color: #f4f5f6;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.key:hover {
  background-color: #fff;
}

.span-2 {
  grid-column: span 2;
}

.span-3 {
  grid-column: span 3;
}

.span-4 {
  grid-column: span 4;
}

.span-5 {
  grid-column: span 5;
}

.span-14 {
  grid-column: span 14;
}
